.searchBooksForm {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: wrap;

  margin: 10px;
  padding: 15px 20px 15px 20px;
  
  border: 1px solid #CCC;
  border-radius: 15px;
}

.searchBooksForm:first-child {
  align-items: flex-start;
}

.searchBooksForm:last-child {
  align-items: flex-end;
}

.searchBooksForm>form-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bookItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 10px;
  padding: 15px 20px 15px 20px;

  border: 1px solid #CCC;
  border-radius: 15px;
}

.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.toggleSeeMore {
  background: none;
  background-color: none;
  
  border: none;
  border-radius: 0;

  outline: none;
  
  box-shadow: none;
  user-select: none;
  appearance: none; 
  text-decoration: none;
  
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;

  color: #007bff;
  margin-top: 10px;
  cursor: pointer;
}

.seeMore {
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.description span{
  border: 1px solid #CCC;
  border-radius: 15px;

  padding: 15px;
  
}

.keyWords {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  border: 1px solid #CCC;
  border-radius: 15px;
  
  padding: 15px;
}

.keyWord {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  border: 1px solid #CCC;
  border-radius: 15px;

  background-color: #ccc;

  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  
}