{% extends 'base.html' %}
{% block cssstyle %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/loan.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}
{% block pagetitle %}Emprestimos{% endblock %}
{% block content %}
<div class="container mainDiv">
  <h1 class="BooksTitle">Emprestimos</h1>

  <div class="container form">
    <form class="searchLoansForm" method="post" action="">
      {{ form.hidden_tag()}}
      <div class="form-group">
        {{ form.bookId.label(class="form-label") }}
        {{ form.bookId(class="form-control", size=32) }}
      </div>
      <div class="form-group">
        {{ form.userId.label(class="form-label") }}
        {{ form.userId(class="form-control", size=32) }}
      </div>
      <div class="form-group">
        {{ form.studentId.label(class="form-label") }}
        {{ form.studentId(class="form-control", size=32) }}
      </div>
      <div class="form-group">
        {{ form.loanDate.label(class="form-label") }}
        {{ form.loanDate(class="form-control", size=32) }}
      </div>
      <div class="form-group">
        {{ form.returnDate.label(class="form-label") }}
        {{ form.returnDate(class="form-control", size=32) }}
      </div>
      <div class="form-group">
        {{ form.createdBy.label(class="form-label") }}
        {{ form.createdBy(class="form-control", size=32) }}
      </div>
      <div class="form-group SelectField">
        {{ form.status.label(class="form-label") }}
        {{ form.status(class="form-control", size=32) }}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-primary", type="submit") }}
      </div>
    </form>
  </div>

  <div class="continer">
    {% for loan in loans %}
    <div class="loan objectItem">
      <div class="bookId">ID do Livro: {{ loan.bookId }}</div>
      <div class="userId">ID do Usuário: {{ loan.userId }}</div>
      <div class="userId">ID do Aluno: {{ loan.studentId }}</div>
      <div class="loanDate">Data do Empréstimo: {{ loan.loanDate }}</div>
      <div class="returnDate">Data de Devolução: {{ loan.returnDate }}</div>
      <div class="createdBy">Criado por: {{ loan.createdBy }}</div>
      <div class="status">Status: {{ loan.status }}</div>
    </div>
    {% endfor %}
    <!-- Renderiza o controle de paginação -->
    <div class="pagination-container">
      {{ pagination.links }}
    </div>
    {% endblock %}
  </div>