{% extends 'base.html' %}
{% block cssstyle %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/searchPages.css') }}">
{% endblock %}
{% block pagetitle %}Livros{% endblock %}
{% block content %}
<div class="content">
  <div class="container form">
    <form class="searchBooksForm" method="post" action="">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.bookId.label(class="form-label") }}
        {{ form.bookId(class="form-control", size=32) }}
      </div>
      <div class="form-group">
        {{ form.bookName.label(class="form-label") }}
        {{ form.bookName(class="form-control", size=32) }}
      </div>
      <div class="form-group">
        {{ form.authorName.label(class="form-label") }}
        {{ form.authorName(class="form-control", size=32) }}
      </div>
      <div class="form-group">
        {{ form.publisherName.label(class="form-label") }}
        {{ form.publisherName(class="form-control", size=32) }}
      </div>
      <div class="form-group">
        {{ form.publishedDate.label(class="form-label") }}
        {{ form.publishedDate(class="form-control", size=32) }}
      </div>
      <div class="form-group">
        {{ form.acquisitionDate.label(class="form-label") }}
        {{ form.acquisitionDate(class="form-control", size=32) }}
      </div>
      <div class="form-group">
        {{ form.keywords.label(class="form-label") }}
        {{ form.keywords(class="form-control", size=32) }}
      </div>
      <div class="form-group submit">
        {{ form.submit(class="btn btn-primary", type="submit") }}
      </div>
    </form>
  </div>
  <div class="tables table-responsive-sm">
    <table class="table bookTable table-bordered table-sm table-striped">
      <thead class="head mainHead thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Disponíveis</th>
          <th scope="col">Autor</th>
          <th scope="col">Editora</th>
          <th scope="col">Publicação</th>
          <th scope="col">Aquisição</th>
        </tr>
      </thead>
      <tbody>
        {% for livro, quantidadeDisponivel in livros %}
        <tr>
          <td>{{ livro.bookId }}</td>
          <td>{{ livro.bookName }}</td>
          <td>{{ quantidadeDisponivel }} de {{ livro.amount }}</td>
          <td>{{ livro.authorName }}</td>
          <td>{{ livro.publisherName }}</td>
          <td>{{ livro.publishedDate }}</td>
          <td>{{ livro.acquisitionDate }}</td>
        </tr>
        <tr>
          <td colspan="7">
            <button class="toggleSeeMore book-{{ livro.bookId }} btn btn-outline-info" onclick="toggleSeeMore(this)">ver
              mais</button>
          </td>
        </tr>
        <tr class="seeMore book-{{ livro.bookId }} table-active" style="display: none;">
          <th colspan="7" scope="col">Descrição</th>
        </tr>
        <tr class="seeMore book-{{ livro.bookId }}" style="display: none;">
          <td colspan="7">{{ livro.description }}</td>
        </tr>
        <tr class="seeMore book-{{ livro.bookId }}" style="display: none;">
          <th class="table-active" colspan="7" scope="col">Palavras Chave</th>
        </tr>
        <tr class="seeMore book-{{ livro.bookId }}" style="display: none;">
          <td class="keywordsTd" colspan="7">
            <ul>
              {% for kword in livro.keywords %}
              <li>{{ kword.word }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr class="seeMore book-{{ livro.bookId }}" style="display: none;">
          <td colspan="7">Criado em: {{ livro.creationDate }}</td>
        </tr>
        <tr class="seeMore book-{{ livro.bookId }}" style="display: none;">
          <td colspan="7">Última modificação: {{ livro.lastUpdate }}</td>
        </tr>
        <tr class="seeMore book-{{ livro.bookId }}" style="display: none;">
          <td colspan="7">Última modificação: {{ livro.lastUpdate }}</td>
        </tr>
        <tr class="seeMore book-{{ livro.bookId }}" style="display: none;">
          <td colspan="7">Criado por: {{ livro.createdBy }}:{{ livro.createdBy.username }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="pagination-container">
  {{ pagination.links }}
</div>
{% endblock %}