{% extends 'base.html' %}
{% block pagetitle %}Novo Livro{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center">
        <form class="novoLivroForm" method="post" action="">
            <h1 class="novoLivroTitle">Registrar um novo livro</h1>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.bookName.label(class="form-label") }}
                {{ form.bookName(class="form-control", size=32, autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.amount.label(class="form-label") }}
                {{ form.amount(class="form-control", size=32, autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.authorName.label(class="form-label") }}
                {{ form.authorName(class="form-control", size=32, autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.publisherName.label(class="form-label") }}
                {{ form.publisherName(class="form-control", size=32, autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.publishedDate.label(class="form-label") }}
                {{ form.publishedDate(class="form-control datepicker", size=32, autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.acquisitionDate.label(class="form-label") }}
                {{ form.acquisitionDate(class="form-control datepicker", size=32, autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-label") }}
                {{ form.description(class="form-control", size=32, autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary", type="submit") }}
            </div>
        </form>
    </div>
{% endblock %}