{% extends 'base.html' %}
{% block title %}Novo Aluno{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="novoAlunoTitle">Novo Aluno</h1>
        <form class="novoAlunoForm" method="post" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.studentName.label(class="form-label") }}
                {{ form.studentName(class="form-control", size=32, autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.studentPhone.label(class="form-label") }}
                {{ form.studentPhone(class="form-control", size=32, autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.birthDate.label(class="form-label") }}
                {{ form.birthDate(class="form-control datepicker", size=32, autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.cpf.label(class="form-label") }}
                {{ form.cpf(class="form-control", size=32, autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.rg.label(class="form-label") }}
                {{ form.rg(class="form-control", size=32, autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.gradeNumber.label(class="form-label") }}
                {{ form.gradeNumber(class="form-control", size=32, autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.className.label(class="form-label") }}
                {{ form.className(class="form-control", size=32, autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.guardianName1.label(class="form-label") }}
                {{ form.guardianName1(class="form-control", size=32, autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.guardianPhone1.label(class="form-label") }}
                {{ form.guardianPhone1(class="form-control", size=32, autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.guardianName2.label(class="form-label") }}
                {{ form.guardianName2(class="form-control", size=32, autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.guardianPhone2.label(class="form-label") }}
                {{ form.guardianPhone2(class="form-control", size=32, autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.notes.label(class="form-label") }}
                {{ form.notes(class="form-control", size=32, autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary", type="submit") }}
            </div>
        </form>
    </div>
{% endblock %}
