{% extends 'base.html' %}
{% block pagetitle %}Novo Livro{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="novoLivroTitle">Registrar um novo livro</h1>
        <form class="novoLivroForm" method="post" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.nomeLivro.label(class="form-label") }}
                {{ form.nomeLivro(class="form-control", size=32) }}
            </div>
            <div class="form-group">
                {{ form.quantidade.label(class="form-label") }}
                {{ form.quantidade(class="form-control", size=32) }}
            </div>
            <div class="form-group">
                {{ form.nomeAutor.label(class="form-label") }}
                {{ form.nomeAutor(class="form-control", size=32) }}
            </div>
            <div class="form-group">
                {{ form.nomeEditora.label(class="form-label") }}
                {{ form.nomeEditora(class="form-control", size=32) }}
            </div>
            <div class="form-group">
                {{ form.dataPublicacao.label(class="form-label") }}
                {{ form.dataPublicacao(class="form-control datepicker", size=32) }}
            </div>
            <div class="form-group">
                {{ form.dtAquisicao.label(class="form-label") }}
                {{ form.dtAquisicao(class="form-control datepicker", size=32) }}
            </div>
            <div class="form-group">
                {{ form.descricao.label(class="form-label") }}
                {{ form.descricao(class="form-control", size=32) }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary", type="submit") }}
            </div>
        </form>
    </div>
{% endblock %}