{% extends 'base.html' %}
{% block pagetitle %}Registrar{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center">
        <form class="registerForm" method="post" action="">
            <h1 class="registerTitle">Registrar um novo usuário</h1>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", size=32, autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control", size=32, autocomplete="off") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary", type="submit") }}
            </div>
        </form>
    </div>
{% endblock %}
